html { 
    background: url(index2background2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

header {
    display: flex;
    justify-content: space-around;
}
h1 {
    font-size: 50px;
    color: black;
}
h2 {
    font-size: 30px;
    color: black;
}
h3 {
    font-size: 20px;
    color: beige;
}

p {
    color: beige;
}

img {
    border-radius: 10%;
}

