html { 
    background: url(Concept.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
  /* concept.png was a screen shot from Ian Gloude from Medium.com, idea here is to rebuild same type of image using vanilla CSS */

#project1 {
    background-color: blue;
    height: 200px;
    width: 200px;
    position: 100px;
}
#project2 {
    background-color:green;
    height: 200px;
    width: 200px;
}
#project3 {
    background-color: red;
    height: 200px;
    width: 200px;
}
#project4 {
    background-color: purple;
    height: 200px;
    width: 200px;
}
#aboutMe{
    background-color:yellow;
    height: 200px;
    width: 200px;
}

.lines {
    width: 300px;
    height: 7px;
    background: rgb(0, 68, 255);
}