html { 
    background: url(../images/test3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 

  // Change to super small value for css lasershow
$perspective: 
  600
  //.0001
  ;


body {background: black;
  //-webkit-animation: hue 2s infinite linear;
  -webkit-perspective: $perspective;
}

.container {
  margin:30% auto;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotation 6s infinite linear;
  
}

.layer {
  position: absolute;
  width: 100%; height: 100%;
  background: -webkit-radial-gradient(red 5%, transparent 5%),transparent;
  background-position: center center;
  -webkit-background-size:50px 50px;
  -webkit-animation: hue 2s infinite linear;
}

@for $i from 1 to 5 {
    .div-#{$i} {
        -webkit-animation-delay: $i/10+s;
        -webkit-transform: translateZ( $i*50+px );
    }
}


@-webkit-keyframes rotation {
  from { -webkit-transform: rotateY(0deg) rotateZ(0deg)}
  to   { -webkit-transform: rotateY(360deg) rotateZ(-360deg)}
}


@-webkit-keyframes hue {
  from { -webkit-filter: hue-rotate(0deg)}
  to   { -webkit-filter: hue-rotate(360deg)}
}