@media (min-width: 380px){
    .icon-menu {
        display: none;
    }
    .divholder {
        display: flex;
        flex-grow: inherit;
    }
    .containerholder {
        display: flex;
        flex-direction: column;
    }
}

h1 {
    font-size: 25px;
    text-align: left;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    /* text-shadow: 5px 5px black; */
}
h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}
h3 {
    font-size: 20px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}

p {
    color: black;
    width: 35%;
    font-family: monospace, 'Courier New', Courier;
    font-size: 16px;
}

.icon-menu {
    font-size: 40px;
}

form {
    width: 50%;
    margin: 0 auto; 
}
label {
    display: block;
    height: 24px;
}

label input {
    float: right;
}

footer {
    position: fixed;
    font-family: monospace, 'Courier New', Courier;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    color: black;
}
.contactinfo {
    text-align: center;
}

#main-menu {
    display: none;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 20px;
    font-size: 26px;
    flex-direction: column;
}

.icon-menu:hover + #main-menu {
    display: flex;
}

.container {
    width: 196px;
    height: 196px;
    position: relative;
    /* perspective: 10px; */
  }
  
  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  #cube figure {
    /* margin: 0; */
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(180, 147, 211, 0.153);
  }

#cube .front  { transform: rotateY(   0deg ); }
#cube .back   { transform: rotateX( 180deg ); }
#cube .right  { transform: rotateY(  90deg ); }
#cube .left   { transform: rotateY( -90deg ); }
#cube .top    { transform: rotateX(  90deg ); }
#cube .bottom { transform: rotateX( -90deg ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 50px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 50px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 50px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 50px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 50px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 50px ); }

#cube { transform: translateZ( -50px ); }

#cube.show-front  { transform: translateZ( -50px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -50px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -50px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -50px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -50px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -50px ) rotateX(   90deg ); }

#cube { transition: transform 1s; }

.containerholder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}