
/* header {
    display: flex;
    justify-content: space-around;
} */
h1 {
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}
h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}
h3 {
    font-size: 20px;
    color: beige;
}

p {
    color: beige;
    width: 300px;
}

img {
    border-radius: 20%;
    opacity: .5;
    float: right;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    margin: 0;
    padding: 0;
}

#project1 {
    background-color: blue;
    height: 200px;
    width: 200px;
    position: 100px;
}
#project2 {
    background-color:green;
    height: 200px;
    width: 200px;
}
#project3 {
    background-color: red;
    height: 200px;
    width: 200px;
}
#project4 {
    background-color: purple;
    height: 200px;
    width: 200px;
}
#aboutMe{
    background-color:yellow;
    height: 200px;
    width: 200px;
}

