h1 {
    font-size: 50px;
    text-align: left;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}
h3 {
    font-size: 20px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}

p {
    color: black;
    width: 35%;
    font-family: monospace, 'Courier New', Courier;
    font-size: 16px;
}

#project1 {
    background-color: rgba(0, 0, 3, 0.071);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
#project2 {
    background-color:rgba(0, 0, 3, 0.071);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
#project3 {
    background-color: rgba(0, 0, 3, 0.071);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
#project4 {
    background-color: rgba(0, 0, 3, 0.071);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}
#aboutMe{
    background-color:rgba(0, 0, 3, 0.071);
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}

.icon-menu {
    font-size: 30px;
    float: right;
}

.divholder {
    display: flex;
}

.container {
    width: 800px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    margin: 30px;
  }
  
  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  #cube figure {
    margin: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    border: 2px solid black;
  }

#cube .front  { transform: rotateY(   0deg ); }
#cube .back   { transform: rotateX( 180deg ); }
#cube .right  { transform: rotateY(  90deg ); }
#cube .left   { transform: rotateY( -90deg ); }
#cube .top    { transform: rotateX(  90deg ); }
#cube .bottom { transform: rotateX( -90deg ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }
#cube { transform: translateZ( -100px ); }
#cube.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
#cube.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
#cube.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
#cube.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
#cube.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
#cube.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }
#cube { transition: transform 1s; }

/*Put this code in here from CSS tricks just to get an idea on my page of what I'm going for.*/