h1 {
    font-size: 25px;
    text-align: left;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}
h3 {
    font-size: 20px;
    font-family: monospace, 'Courier New', Courier;
    color: black;
}

p {
    color: black;
    width: 35%;
    font-family: monospace, 'Courier New', Courier;
    font-size: 16px;
}

.icon-menu {
    font-size: 40px;
}

form {
    width: 50%;
    margin: 0 auto; 
}
label {
    display: block;
    height: 24px;
}

label input {
    float: right;
}

footer {
    position: fixed;
    font-family: monospace, 'Courier New', Courier;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    color: black;
}
.contactinfo {
    text-align: center;
}

#main-menu {
    display: none;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 20px;
    font-size: 26px;
    flex-direction: column;
}

.icon-menu:hover + #main-menu {
    display: flex;
}

